body{
    margin : 0px ;
    padding :0px ;
    font-family: 'Noto Sans KR', sans-serif;
    position :relative ;
 //   background-color: rgb(23 21 21 / 86%);
    box-sizing : border-box; 
}
    
h1{
    padding : 0px;
    margin : 0px;
    color :#2b17fb;
}
.header-bar{
    display : flex;
    justify-content : space-between;
    align-items : center ;
    margin : 0px ;
    padding : 0px 10px 0px 10px ;
    text-align: center; 
}
.header-bar img{
    width :30px ;
    height :20px ;
}
.menu{
    position : absolute;
    width : 300px;
    max-height : 400px;
    overflow: auto ;
    font-size :13px ;
    visibility: hidden;
    background-color:  rgb(15 14 14 / 94%);
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    left :-5px ; 
    z-index: 1; 

}
.menu-wrapper:hover .menu{
    cursor: pointer;
    transition : 0.5s ;
    color : #ca0202 ;
    visibility: visible;
}

.add-to-car{
      left : -10px ;
}

.order-wrapper {
    position :relative ;
    }

.order-list{
    position : absolute;
    color : #ca0202;
    justify-content : center;
    width: 85px;
    max-height: 200px;
    overflow: auto;
    align-items : center;
    font-size :15px;
    visibility: hidden;
    background-color:  rgba(7, 6, 6, .94);
    text-align: center;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    top : 50px;
    left :10px;
    z-index: 1;
}

#refresh-image{
    display :inline-block ;
    position :relative ;
    top: 10px;

}
.order-list img{
    padding : 0px 10px 10px ;
    display :block;
   
}

.contact-wrapper: {
    position :relative ;
    }

.add-to-order{
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: absolute ;
    left :-10px ; 
    z-index: 1; 
}

.add-to-order img{
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: relative ;
    left :-10px ; 
    z-index: 1; 
}

.menu-icon:hover .add-to-order{
    cursor: pointer;
    transition : 0.5s ;
    color : #ca0202 ;
    visibility: visible;
    }

.contact-details {
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: absolute ;
    left :0px ; 
    z-index: 1;
 }

.logo-wrapper:hover .rbs-details{
    cursor: pointer;
    transition : 0.5s ;
    color : #ca0202 ;
    visibility: visible;
    }


.rbs-details {
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: absolute ;
    top: 38px ;
    right : 0px ; 
    z-index: 5;
    } 

.email-wrapper{
    display :flex ;
    }

.email-wrapper img{
    position : relative ;
    top:-2px;
    left: 0px;
    width : 10% ;
    cursor: pointer;
}


.gallery {
    Position :relative ;
    heigh: 100vh ;
    box-sizing: border-box ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}


.check-box{
    visibility: hidden;
    position : absolute;
    padding :inherit ;
    
}
.gallery-item {
    position: relative ; 
}


.gallery-item img {
    width : 100% ;
    height : 100% ;
    display: block;
    object-fit: cover ;
    transition: 1s ;
}

.hover:hover {  
    transform: scale(1.05) ;
    display: block;
    object-fit: cover ;
    transition: 1s ;
}

