body{
    margin : 0px ;
    padding :0px ;
    font-family: 'Noto Sans KR', sans-serif;
    position :relative ;
 //   background-color: rgb(23 21 21 / 86%);
    box-sizing : border-box; 
}
    

.header-bar{
    display : flex;
    position : fixed;
    width :100% ;
    justify-content : space-between;
    align-items : center ;
    margin : 0px ;
  //  padding : 0px 0px 0px 0px ;
    background-color : #fff ;
    text-align: center; 
    z-index : 10 ;
}
.header-bar img{
    width :30px ;
    height :20px ;
    padding : 20px 10px 0px 10px ;
}
h1{
    padding : 0px;
    margin : 0px;
    color :#2b17fb;
}
.menu{
    visibility: hidden;
    color : rgba(7, 6, 6, .94) ;
    position : absolute;
    width : 180px;
 //   max-height : 400px;
    overflow: auto ;
    font-size :13px ;
    
    text-align: left;
    background-color:  #fff;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    
    /* Position the tooltip */
    left :-2px ; 
    top : 42px;
    z-index: 10; 

}
.menu-wrapper:hover .menu{
    cursor: pointer;
 //   color : #ca0202 ;
  //  transition : 0.5s ;
    visibility: visible;
}

.add-to-cart{
    border : solid 1px #a98b8beb;
}
.review-cart{
    border-right : solid 1px #a98b8beb;
    border-left : solid 1px #a98b8beb;
}
.check-out{
    border : solid 1px #a98b8beb;
}
.order-wrapper {
    position :relative ;
}
.order-list{
    position : absolute;
    color : rgba(7, 6, 6, .94);
    justify-content: center;
    width: 110px;
    max-height: 200px;
    overflow: auto;
    align-items : center;
    font-size :15px;
    visibility: hidden;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    top : 50px;
    left :10px;
  //  z-index: 1;
}

.refresh-image{
    display :inline-block ;
    position :relative ;
}

.order-list img{
    padding : 5px 10px 2px 5px ;    
}

.contact-wrapper: {
    position :relative ;
}

.add-to-order{
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: absolute ;
    left :-10px ; 
  //  z-index: 5; 
}

.add-to-order img{
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: relative ;
    left :-10px ; 
 //   z-index: 1; 
}

.menu-icon:hover .add-to-order{
    cursor: pointer;
    transition : 0.5s ;
    color : #ca0202 ;
    visibility: visible;
    }

.contact-details {
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: absolute ;
    left :0px ; 
  //  z-index: 1;
 }

.logo-wrapper:hover .rbs-details{
    cursor: pointer;
    transition : 0.5s ;
    color : #ca0202 ;
    visibility: visible;
}


.rbs-details {
    font-size :15px ;
    visibility: hidden;
    width: 220px;
    background-color:  rgba(7, 6, 6, 0.90);
    text-align: left;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    /* Position the tooltip */
    position: absolute ;
    top: 38px ;
    right : 0px ; 

} 

.email-wrapper{
    display :flex ;
}

.email-wrapper img{
    position : relative ;
    top:-2px;
    left: 0px;
    width : 10% ;
    cursor: pointer;
}


.gallery {
    position :relative ;
    top : 48px;
    heigh: 100vh ;
    box-sizing: border-box ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}


.check-box{
    visibility: hidden;
    position : absolute;
    padding :inherit ;
    
}
.gallery-item {
    position: relative ; 
}


.gallery-item img {
    width : 100% ;
    height : 100% ;
    display: block;
    object-fit: cover ;
    transition: 1s ;
}

.hover:hover {  
    transform: scale(1.05) ;
    display: block;
    object-fit: cover ;
    transition: 1s ;
}

